<div class="flex justify-center min-h-screen ">
  <div class="flex justify-center  w-[60vw]  ">
    <div>
      <h1 class="font-roboro font-bold text-3xl text-center  ">Create new account</h1>
      <p class=" text-gray-500 text-center lg:pb-[2vw] lg:pt-[0.5vw] ">Please fill in the form to contiue</p>

        <div class="lg:pl-[3vw]  ">
           <div class="flex justify-center items-center lg:w-[25vw]  md:w-[50vw] w-[60vw]  ">
            <div
                class=" w-5 h-5 border-t  border border-secondcolor rounded-full bg-primary flex justify-center items-center text-gray-900 ">
                <p  class=" text-xs">1</p>

            </div>

            <div class="lg:w-40 border-t border border-gray-300 ml-[0.5vw] mr-[0.5vw]  w-[40vw] "></div>
            <div
                class="w-5 h-5 border border-secondcolor mr-[0.5vw] bg-primary rounded-full bg-light-gray flex justify-center items-center text-gray-900 ">
             <p class=" text-xs">2</p>
            </div>
              <div class="lg:w-40 border-t border border-gray-300 mr-[0.5vw] ml-[0.5vw] w-[40vw] "></div>
            <div
                class="w-5 h-5 border border-secondcolor rounded-full bg-light-gray flex justify-center items-center text-gray-900 ">
                <p class=" text-xs">3</p>
            </div>
        </div>
        <div class=" flex justify-between  lg:w-[25vw] w-[50vw]">
        <div class=" text-start text-xs font-light"><p>Basic Info</p></div>
        <div class=" text-center text-xs pt-[0vw] font-thin "><p>Business Info</p></div>
        <div class=" text-end text-xs font-light pl-[2vw]  pb-[2vw]"><p></p></div>
      </div>
    </div>
      <!--form......-->

<div class="lg:w-[30vw] w-[60vw] md:w-[50vw] md:pt-[3vw] lg:pt-[0.4vw] pt-[3vw] ">
<form action="">
  <div class="lg:pb-[0.7vw] md:pb-[1.5vw] pb-[1.5vw]">

    <div class="relative">
      <input  type="text" placeholder=" Legal Name of Company"
       class="  lg:pl-[2.6vw] pl-[8vw] md:pl-[5vw] shadow border border-secondcolor rounded-md w-full py-3 px-3 text-black leading-tight focus:outline-none focus:shadow-outline ">
      <div class="absolute inset-y-3 lg:left-3 lg:pr-8 left-3 flex items-center text-sm leading-5">
        <img class="lg:w-[1.3vw] cursor-pointer" src="../../../assets/icons/nameOfCompani-icon.svg">
      </div>
    </div>

  </div>
<div class="lg:pb-[0.7vw] md:pb-[1.5vw] pb-[1.5vw] ">
  <input type="text"
  class="  shadow border border-secondcolor rounded-md w-full py-3 px-3 text-black leading-tight focus:outline-none focus:shadow-outline "
  placeholder=" Business Type ">
</div>

<div class="relative bg-white shadow border border-secondcolor rounded-md w-full py-1 pl-[1vw] text-black leading-tight focus:outline-none focus:shadow-outline ">
  <div class=" absolute z-0 flex justify-start ">
  <img src="../../../assets/icons/upload.svg" alt="" class="pt-[0.5]">
  <p class=" text-gray-400 pl-[1vw] pt-[0.5vw]">Upload logo company</p>
 </div>
 <input  class=" relative z-10 top-0 opacity-0 shadow border border-secondcolor rounded-md w-full py-1 px-3  text-black leading-tight focus:outline-none focus:shadow-outline "
 type="file" name="logo" id="logo" placeholder="Upload logo company" style="background-color: white;">
</div>

<div class="pt-[0vw] md:pb-[1.5vw] lg:pb-[0.7vw] pb-[1.5vw]"></div>

<div class=" relative bg-white shadow border border-secondcolor rounded-md w-full py-1 pl-[1vw] text-gray-700 leading-tight focus:outline-none focus:shadow-outline ">
  <div class=" absolute z-0 flex justify-start ">
  <img src="../../../assets/icons/upload.svg" alt="" class="pt-[0.5]">
  <p class=" text-gray-400 pl-[1vw] pt-[0.5vw]">Upload Government authorized</p>
 </div>
 <input  class=" relative z-10 top-0 opacity-0 shadow border border-secondcolor rounded-md w-full py-1 px-3  text-black leading-tight focus:outline-none focus:shadow-outline "
 type="file" name="logo" id="logo" placeholder="Upload logo company" style="background-color: white;">
</div>
<div class="lg:pt-[0vw] md:pb-[1.5vw] lg:pb-[0.7vw] pb-[1.5vw] "></div>
<textarea placeholder="Description..." class="flex shadow border border-secondcolor rounded-md w-full py-3 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" name="description" id="description" cols="47" rows="8"></textarea>
<div class="lg:w-[30vw] flex justify-center pt-[0.7vw] w-[60vw] md:w-[50vw] ">

  <button routerLink="/creditCard"  class=" shadow bg-primary w-[20vw] text-black font-bold py-2 px-3 rounded-xl border border-black">Sign up</button>

</div>
</form>

</div>
    </div>
  </div>
</div>
