<div class=" flex justify-center w-full bg-background h-screen lg:pb-[6vw]">
  <div class=" absolute z-0 w-[60vw]  flex justify-center items-center border border-secondcolor lg:pl-[0vw] lg:pr-[0vw] rounded-xl ">
    <div class="bg-white p-4 h-[543px] lg:px-[3vw] w-[40vw] flex rounded-l-xl">
      <!-- Left*********** -->
      <div>
        <div class="flex justify-start ">
          <h1 class=" text-2xl text-start font-roboto font-bold lg:pt-[1vw]">Contact </h1>
          <h1 class=" text-2xl text-start font-roboto font-bold lg:pl-[0.7vw] lg:pt-[1vw] text-primary">Us</h1>
        </div>
        <div>
          <p class=" text-gray-500 font-roboto font-light lg:pb-[2vw]">Our friendly team would love to hear from you!</p>
        </div>
        <div class=" lg:pb-[1vw]">
          <form action="" class="">
            <div class="lg:pb-[0.7vw]"> <input type="text"
                class=" shadow border border-secondcolor rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline "
                placeholder="Full Name">
            </div>
            <div class="lg:pb-[0.7vw]"> <input type="email"
                class="shadow border border-secondcolor rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline "
                placeholder="Email">
            </div>
            <div class="lg:pb-[0.7vw]"> <input type="text"
                class="shadow border border-secondcolor rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline "
                placeholder="Subject">
            </div>
            <div class="lg:pb-[0.7vw]"> <textarea name="message" id="message" cols="40" rows="7"
                class="shadow border border-secondcolor rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline "
                placeholder="Subjectshadow border border-secondcolor rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline "
                placeholder="Message"></textarea>
            </div>
            <div class="lg:pb-[3vw]">
              <button class="w-full shadow bg-primary   text-black font-bold py-2 px-3 rounded-xl border border-black "
                type="button"> Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- end of colunm 1-->

<!-- dark right ****************** -->
    <div class=" w-[20vw]  bg-secondcolor rounded-r-xl">
      <div class="h-[543px]">
      </div>
    </div>
    <!-- end of colunm 2-->


  </div>


  <img class="w-[17vw] relative -translate-y-20 z-10 transform translate-x-[12vw] lg:pb-[7vw] " src="../../../assets/image/location.svg" alt="">



</div>
<!--end of contactUs-->
