<div class=" bg-background flex flex-col justify-between">
  <div class="flex">
    <app-header></app-header>
  </div>
  <!-- <mat-horizontal-stepper>
  <mat-step label="step 1">

  </mat-step>
  <mat-step label="step 1">

  </mat-step>
  <mat-step label="step 1">
  </mat-step>
</mat-horizontal-stepper> -->
  <div class="flex flex-grow justify-center items-center w-full ">
    <router-outlet></router-outlet>
  </div>

  <div class="w-[100vw]">
    <app-footer></app-footer>
  </div>
</div>
<!-- <div class="h-screen flex flex-col">
  <div class="bg-green-600 h-48 ">hey</div>
  <div class="bg-green-600 h-48 ">hey</div>
</div> -->
