<div class="bg-background ">

  <div class=" grid  grid-cols-2">
    <!-- <span><img src="../../assets/icons/We Are A Creative Digital Marketing Agency.svg" alt=""></span> -->
    <div class="pl-[8vw] ">
      <img  src="../../assets/image/Title text heading.svg" alt="" class="lg:mt-[10vw]">
      <div class="pt-[2vw] ">
        <button routerLink="getStart"
          class=" bg-primary hover:bg-slate-200 text-lg  text-black-900 font-bold hover:text-black hover:border b-2 hover:border-black py-[1.2vw]  px-[7vw]  border border-slate-900 hover:border-transparent rounded-lg border-b-2  ">
          <div class="">Get Start</div>
        </button>
        <!-- <button
          class="bg-transparent hover:bg-slate-200 ml-[2vw] text-black-900 font-semibold hover:text-black hover:border b-2 hover:border-black py-[1.2vw] px-[3vw] border border-slate-900  rounded-lg border-b-2 ">
          Agency Registration
        </button> -->
      </div>
    </div>

    <div>
      <img width="700" class=" " src="../../assets/image/Social media-bro.svg " alt="">
    </div>
  </div>


  <div class="grid grid-rows-1 ">
    <h1 class="font-roboto flex justify-center  xl:w-[70vw] xl:h-[5vw] font-bold text-center xl:text-4xl xl:pl-[30vw] xl:mt-[8vw] ">We Can
      Improve Your Business Performance And More Customers</h1>
    <img src="../../assets/image/yellowLine.svg" class="lg:pl-[57vw] pl-[60vw] lg:w-[70vw] w-[90vw]" alt="">
  </div>


<!--  4  card-->
  <div class="lg:pl-[20vw] pl-[20vw] w-[80vw] ml-[3vw] grid grid-cols-2  gap-x-5 gap-y-7  lg:mr[0] lg:pt-[2vw] lg:mb-[6vw] mr-[10vw]" >
<!-- 1 card-->
<a href="">
<div class="flex justify-between items-start md:p-[2vw] border-2 border-secondcolor h-[10-vw] w-[28vw] hover:bg-primary rounded-lg bg-white">
  <div >
        <img class="" src="../../assets/icons/person.svg" alt="" width="90">
  </div>

<div class="ml-[2vw]">
        <h3 class="font-roboto font-bold pb-[1vw]">Cost Effective</h3>
        <p class="font-roboto">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis At vero eos et
           accusam</p>
 </div>
</div>
</a>

<!-- 2 card-->
<a href="">
  <div class="flex justify-between items-start md:p-[2vw] border-2 border-secondcolor h-[10-vw] w-[28vw] hover:bg-primary  rounded-xl bg-white">
       <div >
             <img class="" src="../../assets/icons/dolarsign.svg" alt="" width="90">
       </div>

     <div class="ml-[2vw]">
             <h3 class="font-roboto font-bold pb-[1vw]">Cost Effective</h3>
             <p class="font-roboto">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis At vero eos et
                accusam</p>
      </div>
   </div>
  </a>

<!-- 3 card -->

<a href="">
    <div class="flex justify-between items-start md:p-[2vw] mb-[6vw] border-2 border-secondcolor h-[1-vw] w-[28vw] hover:bg-primary  rounded-md bg-white">
      <div>
         <img class="" src="../../assets/icons/tir.svg" alt="" width="150">
      </div>

    <div class="lg:ml-[3vw]">
           <h3 class="font-roboto font-bold pb-[1vw]">Reach More Customers</h3>
           <p class="font-roboto">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis At vero eos et
        accusamus</p>
      </div>
    </div>
  </a>
<!-- 4 card-->
<a href="">
    <div class="flex justify-between items-start md:p-[2vw] mb-[6vw] border-2 border-secondcolor h-[1-vw] w-[28vw] hover:bg-primary  rounded-md bg-white">
         <div>
              <img class="" src="../../assets/icons/train 1.svg" width="150" alt="">
         </div>
       <div class="lg:ml-[3vw]">
               <h3 class="font-roboto font-bold pb-[1vw]">Reach More Customers</h3>
               <p class="font-roboto">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis At vero eos et
        accusamus  </p>
      </div>
    </div>
  </a>
  </div>   <!--end card-->

  <div class=" font-roboto w-full " style="background-image: url(../../assets/image/blue\ .svg);">
<div class="grid grid-cols-2 font-roboto">
       <div class="lg:pl-[9vw] lg:pt-[3vw] lg:mb-[4vw]">
            <img src="../../assets/image/Email campaign-bro 1.svg" alt="" width="500">
       </div>
       <div class="">
        <div class="lg:pl-[9vw] lg:pt-[3vw] lg:mb-[4vw] font-roboto lg:pr-[10vw]">
               <h1 class=" text-primary">WHY CHOOSE US</h1>
               <h1 class="text-white font-bold text-4xl">Take on any Challenge of the Digital World</h1>
        </div>
        <div class="lg:pl-[9vw] lg:pt-[1vw] lg:mb-[4vw]">
        <div class=" flex justify-start pb-[1vw]">
             <img src="../../assets/image/Checklist-Circle.svg" alt="">
             <p class="text-white pl-[1vw] text-lg">Corporate Financial Advisory</p>
        </div>

        <div class=" flex justify-start  pb-[1vw]">
              <img src="../../assets/image/Checklist-Circle.svg" alt="">
              <p class="text-white pl-[1vw] text-lg">Development of Financial Models</p>
        </div>

      <div class=" flex justify-start  pb-[1vw]">
         <img src="../../assets/image/Checklist-Circle.svg" alt="">
          <p class="text-white pl-[1vw] text-lg">Deal Structuring</p>
      </div>

      <div class="flex justify-start">
        <button
      class="bg-primary hover:bg-slate-200 ml-[1vw] text-black  font-semibold hover:text-black hover:border b-2 hover:border-black py-[1.2vw] px-[3vw] border border-primary  rounded-lg border-b-2 ">
        Agency Registration
      </button>
      <!-- <button
      class="bg-transparent hover:bg-slate-200 ml-[1vw] text-white  font-semibold hover:text-black hover:border b-2 hover:border-black py-[1.2vw] px-[3vw] border border-primary  rounded-lg border-b-2 ">
      Client Registration
    </button> -->
      </div>
    </div>

 </div>




</div>


 </div> <!--end blue-->
<div>
  <div class="pt-[6vw]">
    <h1 class=" text-center text-3xl font-bold font-roboto">Our Services</h1>
  </div>

    <div class="pt-[1vw] lg:w-full lg:h-[5vw] pb-[3vw]">
    <p class="text-center lg:pl-[30vw] lg:pr-[30vw] lg:pb-[8vw] text-Subheader">We working hard to provide the best quality for you and we never choose easy and faster ways to quickly break up with your project
    </p>
   </div>
  </div> <!--end of text service-->

<div class=" pl-[16vw] lg:pl-[16vw] w-[80vw] pb-[5vw]  grid grid-cols-3  gap-x-8 gap-y-7  lg:mr[0] lg:pt-[2vw] lg:mb-[6vw] ">

    <div class="box-border lg:h-[17vw] lg:w-[20vw] lg:p-[2vw] bg-white rounded-xl border-secondcolor border-2">
      <img src="../../assets/icons/service icon ads.svg " class="pl-[5vw] pb-[1vw]" alt="">
      <h1 class="font-roboto text-lg font-bold text-center pb-[0.5vw]"> Facebook & Google Ads</h1>
      <p class="text-Subheader 2 text-center font-thin text-sm">This is long text replaced with reading more/less
        link example in Angular application paragraph text shown here continue
      </p>
    </div>
    <div class="box-border lg:h-[17vw] lg:w-[20vw] lg:p-[2vw] bg-white rounded-xl border-secondcolor border-2">
      <img src="../../assets/icons/service icon ads.svg " class="pl-[5vw] pb-[1vw]" alt="">
      <h1 class="font-roboto text-lg font-bold text-center pb-[0.5vw]"> Facebook & Google Ads</h1>
      <p class="text-Subheader 2 text-center font-thin text-sm">This is long text replaced with reading more/less
        link example in Angular application paragraph text shown here continue
      </p>
    </div>
    <div class="box-border lg:h-[17vw] lg:w-[20vw] lg:p-[2vw] bg-white rounded-xl border-secondcolor border-2">
      <img src="../../assets/icons/service icon ads.svg " class="pl-[5vw] pb-[1vw]" alt="">
      <h1 class="font-roboto text-lg font-bold text-center pb-[0.5vw]"> Facebook & Google Ads</h1>
      <p class="text-Subheader 2 text-center font-thin text-sm">This is long text replaced with reading more/less
        link example in Angular application paragraph text shown here continue
      </p>
    </div>
    <div class="box-border lg:h-[17vw] lg:w-[20vw] lg:p-[2vw] bg-white rounded-xl border-secondcolor border-2">
      <img src="../../assets/icons/service icon ads.svg " class="pl-[5vw] pb-[1vw]" alt="">
      <h1 class="font-roboto text-lg font-bold text-center pb-[0.5vw]"> Facebook & Google Ads</h1>
      <p class="text-Subheader 2 text-center font-thin text-sm">This is long text replaced with reading more/less
        link example in Angular application paragraph text shown here continue
      </p>
    </div>
    <div class="box-border lg:h-[17vw] lg:w-[20vw] lg:p-[2vw] bg-white rounded-xl border-secondcolor border-2">
      <img src="../../assets/icons/service icon ads.svg " class="pl-[5vw] pb-[1vw]" alt="">
      <h1 class="font-roboto text-lg font-bold text-center pb-[0.5vw]"> Facebook & Google Ads</h1>
      <p class="text-Subheader 2 text-center font-thin text-sm">This is long text replaced with reading more/less
        link example in Angular application paragraph text shown here continue
      </p>
    </div>
    <div class="box-border lg:h-[17vw] lg:w-[20vw] lg:p-[2vw] bg-white rounded-xl border-secondcolor border-2">
      <img src="../../assets/icons/service icon ads.svg " class="pl-[5vw] pb-[1vw]" alt="">
      <h1 class="font-roboto text-lg font-bold text-center pb-[0.5vw]"> Facebook & Google Ads</h1>
      <p class="text-Subheader 2 text-center font-thin text-sm">This is long text replaced with reading more/less
        link example in Angular application paragraph text shown here continue
      </p>
    </div>



</div> <!--end of  reklam-->

<!-- <div class="grid grid-cols-2">
  <div>
    <div class=" w-[55vw] p-[5vw] pl-[20vw]">
      <h1 class="font-roboto font-bold text-3xl text-start pt-[4vw]  w-[20vw]  ">Download Our Mobile App</h1>
      <p class="text-textDownloadApp pt-[1vw]">Collect Facebook and Instagram leads from Lead Ads. Store all collected contacts from your forms in one place, filter, export and assign them to your team for best possible results.</p>
    </div>
    <div class="flex justify-center pl-[8vw]">
      <div class=" ">
      <a href="">
        <img src="../../assets/image/image 1.svg" alt="" width="150">
      </a>
    </div>
    <div class="pl-[1vw]">
      <a href=""> -->
        <!-- class=" bg-black ml-[1vw] text-black  font-semibold hover:text-black hover:border b-2 hover:border-black py-[1.2vw] px-[4.5vw] border border-black  rounded-lg border-b-2" -->
        <!-- <img src="../../assets/image/image 5.svg" alt="" width="150">
      </a>
    </div>
    </div>

  </div>
  <div>
    <img src="../../assets/image/iPhone 14 pro.svg" alt="">
  </div>
</div> -->
 <!-- end of download our mobile app -->



</div> <!--end of home-->
